
.sidenav {
    background-color: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
}

.UserMenu {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.photoMenu {
    width:100px;
    height:100px;
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: rgb(250,230,43);
    background: linear-gradient(31deg, rgba(250,230,43,.8) 0%, rgba(255,153,0,.8) 32%, rgba(255,51,17,.8) 100%);
    -webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}

.name {
    font-weight: 500;
}

.role {
    margin: 0px;
}

.email {
    margin: 10px;
}

.divider {
    margin: 0px !important;
}




