.ListUser {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px;
}

table {
    width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}